.membership-banner {
  height: 600px;

  width: 100%;

  background: url("../../assets/images/membership.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 620px) {
    // height: 00px !important;
    margin-top: 40px;
    margin-bottom: 100px !important;
    transform: translateX(0%) translateY(0%);
    object-fit: cover;
  }
}
.aizuI7 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 1);
  fill: rgb(248, 143, 143);
  fill-opacity: 0.1;
  stroke: #000;
  stroke-opacity: 1;
  stroke-width: 3px;
  filter: var(--drop-shadow, none);
  opacity: var(--opacity);
  transform: var(--flip);
}
