.footer-div {
  background: #2b365a;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  p {
    font-size: 12px;
  }
  h3 {
    margin-bottom: 30px;
  }
  .padd {
    padding: 10px;
  }
  .email-div {
    background: #212942;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    h5 {
      margin-bottom: 40px;
    }
    input {
      background: transparent;
      color: #fff;
      border: solid 1px #fff;
      padding: 5px 40px;
      width: 100%;
    }
    button {
      background: #a0a09f;
      color: rgb(64, 60, 60);
      width: 100%;
      padding: 5px;
      margin-top: 15px;
      border: none;
      &:hover {
        background: #fff;
      }
    }
  }
}
.credits {
  background: #181f33;
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.prefooter-div {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../../../assets/images/prefooter-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  h3 {
    color: #fff;
    margin-bottom: 30px;
  }
}
