.nav-main-container {
  background: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  //   .logo-div {
  //     flex-grow: 1;
  //   }
  .nav-inner {
    a {
      color: #000;
      text-decoration: none;
      margin: 20px;
    }
    li {
      margin: 30px;
    }
  }
}
