.nav-main-container {
  background: #fff;
  padding-top: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  //   .logo-div {
  //     flex-grow: 1;
  //   }
  .nav-inner {
    a {
      color: #000;
      text-decoration: none;
      margin: 20px;
    }
    li {
      margin: 30px;
    }
  }
}
