.about-banner {
  height: 600px;

  width: 100%;

  background: url("../../assets/images/banner2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 620px) {
    // height: 00px !important;
    margin-top: 40px;
    margin-bottom: 100px !important;
    transform: translateX(0%) translateY(0%);
    object-fit: cover;
  }
}
.about-us {
  p {
    margin-top: 20px;
    line-height: 30px;
    text-align: justify;
  }
  h4 {
    margin-top: 30px;
  }
  h6 {
    margin-bottom: 30px;
  }
  ul {
    li {
      line-height: 35px;
    }
  }
}
