.contact-banner {
  height: 600px;

  width: 100%;

  background: url("../../assets/images/contact.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 620px) {
    // height: 00px !important;
    margin-top: 40px;
    margin-bottom: 100px !important;
    transform: translateX(0%) translateY(0%);
    object-fit: cover;
  }
}
.contact-form {
  h6 {
    color: #2e4160;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  input {
    width: 100%;
    background: #fff;
    border: 1px solid #c9cac9;
    box-shadow: inset 1px 1px 2px #c9cac9;
    border-radius: 3px;
    padding: 6px 13px;
  }
  input[type="text"]:focus {
    background-color: rgb(239, 231, 231);
    border: 1px solid rgb(140, 22, 22);
    box-shadow: inset 2px 2px 4px #c9cac9;
  }
  textarea {
    width: 100%;
    min-height: 150px;
  }
}
